<html>
    <body style="background-color: thistle;">
        <form action="/" method="POST">
            <h1 style="text-align:center;font-family:Georgia, 'Times New Roman', Times, serif; color:rgb(100, 92, 100);">Create New Task</h1>
            <label for='title' style="color: rgb(100, 92, 100);">Title:</label><br>
            <input name="title" style="width: 100%" id='title' type="text"><br><br>
            <label for='due' style="color: rgb(100, 92, 100);">Due by:</label><br>
            <input name='due' style="width: 100%" id='due' type="text"><br><br>
            <label for='description' style="color: rgb(100, 92, 100);">Description<label><br>
            <input name="description" style="width: 100%;" id='description' type="text"><br><br>
            <button type="submit" id='addnewtask' style="background-color: rgb(127, 47, 158); color: white;border-radius: 8px;padding: 10px 30px;font-size: smaller;border-color:white;">ADD NEW TASK</button>
        </form>
        <script></script>
    </body>
</html>