<html>
    <body style="background-color: thistle;">
        <h1></h1>
        <div style="text-align: center;">
            <button onclick="document.location.href='/newtask'">View Task</button>
            <button onclick="document.location.href='/'">View List</button>
        </div>
        <h2>Description:</h2>
        <h2>Date Created:</h2>
        <h2>Due by:</h2>
        <script></script>
    </body>
</html>